body {
 background-color: green;
 margin:0;
padding:0;
}
.mainDiv {
  height: 600px;  
  width: 600px;
 background-color: grey; 
/*border-radius: 50%*/
margin: 0 auto;
border: 5px solid black;
font-size: 0;
} 

.mainDiv > div {

height: 200px;
width: 200px;
border-radius: 50%;
border: 5px solid black;
box-sizing: border-box;
display: inline-block;
}










.red {
width:  200px;
height: 200px;
background-color: red;
border-radius: 50%;
margin: 0% auto;
border: 5px solid black;
}

.yellow {

 height: 200px;
width:   200px;
background-color: yellow;
border-radius: 50%;
margin: 0% auto;
border: 5px solid black;
}

.green{ 
    width:200px;
    height:200px;
    background-color: chartreuse;
border-radius: 50%;
margin: 0% auto;
border: 5px solid black;
}



